
.layout{
    min-height: 100vh;
     background-color: aquamarine; /*#008a81 */
    margin: 0;
    padding:0;
}

.navbar__logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.cards__container{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    

}

.account__card{
    width: 23rem;
    margin: 1rem;
}

.account__details{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.transaction__details{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    gap:1rem;
   

}


 .debit{
    color:tomato !important;

   
}

.credit {
    color:#008a81 !important;

}

.the__tbody>tr {
   height: 1rem!important ;
}

footer{
    background-color: #008a81;
    color: white;
}

/* cartas */

@import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap');

.container-ext {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-ext {
    width: 450px;
    height: 250px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner-ext {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-gold-front,
.card-gold-back {
    width: 100%;
    height: 100%;
    background: rgb(195, 115, 34);
    background: linear-gradient(0deg, rgba(195, 115, 34, 1) 0%, rgba(253, 247, 45, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.card-silver-front,
.card-silver-back {
    width: 100%;
    height: 100%;
    background: rgb(82, 78, 78);
    background: linear-gradient(0deg, rgba(82, 78, 78, 1) 0%, rgba(221, 220, 216, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.card-titanium-front,
.card-titanium-back {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(97, 97, 110, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row-ext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img-ext {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no-ext {
    font-size: 35px;
    margin-top: 20px;
}

.card-holder-ext {
    font-size: 12px;
}

.name-ext {
    font-size: 18px;
    margin-bottom: 20px;
}

.bar-ext {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
}

.card-cvv-ext {
    margin-top: 10px;
}

.card-cvv-ext div {
    flex: 1;
}

.card-cvv-ext img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv-ext p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 4px 10px;
    margin-top: 1rem;

}

.card-text-ext {
    font-size: 14px;
}

.back-ext {
    transform: rotateY(180deg);
}

.card-ext:hover .card-inner-ext {
    transform: rotateY(-180deg);
}

.card-holder-ext {
    font-size: 12px;
}

.name-ext {
    font-size: 18px;
    margin-bottom: 20px;
}

.bar-ext {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
}

.card-cvv-ext {
    margin-top: 10px;
}

.card-cvv-ext div {
    flex: 1;
}

.card-cvv-ext img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv-ext p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 4px 10px;
    margin-top: 1rem;

}

.card-text-ext {
    font-size: 14px;
}

.back-ext {
    transform: rotateY(180deg);
}

.card-ext:hover .card-inner-ext {
    transform: rotateY(-180deg);
}