
.layout{
    min-height: 100vh;
     background-color: aquamarine; /*#008a81 */
    margin: 0;
    padding:0;
}

.navbar__logo{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.cards__container{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    

}

.account__card{
    width: 23rem;
    margin: 1rem;
    
}

footer{
    background-color: #008a81;
    color: white;
}