<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./assets/img/logito.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/bank.css">
    
    <title>Document</title>
</head>
<body>

    <div class="layout d-flex flex-column" id="app" >
      <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./assets/img/logito.png" class="navbar__logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav d-flex justify-content-evenly w-100">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./accounts.html">Accounts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./cards.html">Cards</a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="#">Loans</a>
                </li> 

                <li class="nav-item">
                  <a class="nav-link" href="#">Transactions</a>
                </li>


                 <li class="nav-item">
                  <a class="nav-link" @click="clientLogOut"  href="#">quit</a>
                </li>
               
              </ul>
              
            </div>
          </div>
        </nav>

        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/img/banner1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/banner2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="./assets/img/banner3.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>  

        
     </header>
     
      <main class="flex-grow-1">
        <h1 class="center__text">Welcome, {{client.lastName +" "+ client.name}} </h1>

       <div class="cards__container">
          <div v-for="account of accounts" class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 img__cardC">
                <img src="./assets/img/account_img.png" class="img-fluid rounded-start bg-primary virtual__cash" alt="" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title number__account">{{account.number}}</h5>
                  <p class="card-text ">amount:<span class="user__amount"> ${{account.balance}}</span></p>
                
                  <small class="text-body-secondary">  
                    
                      <div class="details__card">
                      <p>creation date:</p>
                      <p>{{account.creationDate}}</p>
                      <a :href="`http://localhost:8080/web/account.html?id=${account.id}`" class="btn btn-dark">transactions</a>
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>

         
          <button v-if="accounts.length < 3" class="btn__crateAcc" @click="createAccount">create Account</button>
          

       
        </div>
        
        <div class="container__table">
          
          <table class="table" v-if="loans.legth != 0">
            <thead>
                <tr>
                    <th scope="col">Type loan</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payments</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="loan of loans">
                    <td>{{loan.name}}</td>
                    <td>${{new
                        Intl.NumberFormat("de-DE").format(loan.amount)}}</td>
                    <td>{{loan.payment}}</td>
                </tr>
            </tbody>
        </table>

        <h2 v-else>you have no loans</h2>

        </div>



      </main>


 

      <footer class="main__footer">
        <div class="link__social">
            <img src="./assets/img/facebook.png" alt="">
            <img src="./assets/img/whatsapp.png" alt="">
            <img src="./assets/img/instagram.png" alt="">
        </div>
        <p>All rights reserved</p>

      </footer>

    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="./assets/accounts-script.js"></script>
</html>